{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>Maraîchage BIO & Piment d'Espelette AOC BIO</h1>
    <img src="/images/home/maraichage.jpg" alt="maraichage" width=100% height=auto>
  </div>
{% endblock %}