<form method="post" action="{{ path('libelle_mesures_delete', {id: libelle.id}) }}"
      style="display: inline-block"
      onsubmit="return confirm('Etes-vous sûr de supprimer {{ libelle.libelle }} ?')" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ libelle.id) }}">
    <button class="btn btn-sm btn-danger"> Supprimer</button>
</form>